#twitter-icon {
    margin: 0 10px;
}

#submenu {
    padding: 20px;
}

.contact-submenu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.37);
    z-index: 1;
    top: 5%;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

