html {
    width: auto;
    height: auto;
}

body {
  box-sizing: border-box;
}

#main-container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Nav  */
nav {
    z-index: 5;
}

#twitter-icon {
  margin: 0 10px;
}

#submenu {
  padding: 20px;
}

.contact-submenu {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.911);
  z-index: 10;
  top: 2.5rem;
  right: 55%;
  width: 240px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-screen {
  display: none;
}

#navbarDropdown li {
  margin: 0px 10px;
}

#navbarDropdown a:hover {
  text-decoration: underline 2px;
}

#navbarDropdown {
  z-index: 10;
}

/* jumbotron  */
.jumbotron {
  background-image: url("https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#jumbo-container {
  background-color: rgba(128, 128, 128, 0.788);
  width: 100%;
}

/* cards */
.card {
    border: none;
}

.card:hover {
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px;
}

/* media queries  */
@media screen and (max-width: 576px) {
  #contact {
    display: none;
  }
  .small-screen {
    display: block;
  }
  #nav-search {
    background-color: #000;
    color: #fff;
  }
}

@media screen and (max-width:425px) {
    #jumbo-container h1 {
        font-size: 3.5rem;
    }
   #quote {
       font-size: 1.5rem;
   }
}
