body {
    box-sizing: border-box;
}


#twitter-icon {
    margin: 0 10px;
}

#submenu {
    padding: 20px;
}

.contact-submenu {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.37);
    z-index: 1;
    top: 2.5rem;
    right: 55%;
    width: 240px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-screen {
    display: none;
}

#navbarDropdown li {
    margin: 0px 10px;
}

#navbarDropdown a:hover {
    text-decoration: underline 2px;
}

@media screen and (max-width: 576px) {
    #contact {
        display: none;
    }
    .small-screen {
        display: block;
    }
    #nav-search {
        background-color: #000;
        color: #fff;
    }
}